/**
* 1. General app wide
* 2. Circle chart
* 3. Tooltip
* 4. Line graph
* 5. Toggles
*
***/

/**GENERAL APP WIDE**/
body {
  overflow: hidden;
}
.App {
  text-align: center;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.overlay {
  pointer-events: all;
}
.App-intro {
  font-size: large;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}
.switchViews {
  color: #827b7b69;
  display: inline-block;
  float: right;
  font-size: 200px;
  font-stretch: extra-condensed;
  transform: scale(0.4, 1);
  cursor: pointer;
}
.switchViews:hover {
  color: #0c0c0ca6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/**CIRCLE CHART**/
circle {
  opacity: 1;
  stroke-width: 1px;
  stroke-opacity: 0;
}
.greyedOutHoverSample {
  fill: grey !important;
  opacity: 0.5;
}
.greyedOutCircle {
  fill: grey !important;
  opacity: 0.5;
}
.highlightSample {
  stroke-opacity: 1;
  stroke-width: 1px;
  stroke: black;
  opacity: 1 !important;
}
.pulse {
  -webkit-animation: pulse 2s linear infinite;
}
.pulse ellipse {
  fill: "blue" !important;
}
.focusMarker {
  fill: steelblue;
  stroke: #3f75a2;
}
/**TOOLTIP**/
div.tooltip {
  position: absolute;
  text-align: center;
  background: #ffffff;
  display: table;
  padding: 2px;
  font: 12px sans-serif;
  opacity: 0;
  pointer-events: none;
}

div.tooltip.hover {
  opacity: 0.9;
}

/**LINE GRAPH**/
div.title {
  position: absolute;
  display: table;
  padding: 2px;
  font: sans-serif;
}
.yAxis path {
  stroke-width: 1px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
  opacity: 0.5;
}
.yAxis line:not(:last-child) {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  opacity: 0.1;
}
.LineChart .yAxis path {
  opacity: 0;
}
.focus {
  fill: black;
}
.sepLines {
  stroke-linecap: round;
}
.cellCount {
  fill: black;
  font-size: 15px;
}

/**TOGGLE ORDER**/
.toggles {
  vertical-align: top;
  display: inline-block;
}
.toggles text {
  margin-left: 55px;
  margin-top: 2px;
  position: absolute;
  float: left;
  font-size: 15px;
  height: 50px;
  color: #717171eb;
}
.filterSelected {
  color: #2196f3 !important;
}
.switch {
  position: absolute;
  width: 50px;
  height: 25px;
  float: left;
}

.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/**ORDER BY SAMPLE**/
.uniqueSampleDiv {
  margin-top: 30px;
  display: none;
  margin-left: 55px;
  position: absolute;
  overflow: auto;
}
.orderBySample:hover .uniqueSampleDiv {
  display: block;
  opacity: 1;
}
.uniqueSampleList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.uniqueSampleList li {
  padding: 4px;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.uniqueSampleList li:hover {
  background: #d6d6d6d4;
}
.chosenSampleFilter {
  background: #2196f382;
}
.uniqueSampleList li:last-child {
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
