.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

circle {
  opacity: 0.9;
  stroke: #3C3B3B;
  stroke-opacity: 0;
}

circle.hover {
  stroke-opacity: 0.9;
}

div.tooltip { 
    position: absolute;     
    text-align: center;
    background: #ffffff;     
    display: table;         
    padding: 2px;       
    font: 12px sans-serif;
    opacity: 0;
}

div.tooltip.hover {
  'opacity': .9;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
