.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

circle {
  opacity: 0.9;
  stroke: #3c3b3b;
  stroke-opacity: 0;
}

circle.hover {
  stroke-opacity: 0.9;
}

div.tooltip {
  position: absolute;
  text-align: center;
  background: #ffffff;
  display: table;
  padding: 2px;
  font: 12px sans-serif;
  opacity: 0;
}

div.tooltip.hover {
  opacity: 0.9;
}

div.title {
  position: absolute;
  display: table;
  padding: 2px;
  font: sans-serif;
}
.yAxis path {
  stroke-width: 1px;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
  opacity: 0.5;
}

.area {
  fill: lightsteelblue;
}
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}
.yAxis line:not(:last-child) {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  opacity: 0.1;
}
.LineChart .yAxis path {
  opacity: 0;
}
.sepLines {
  stroke-linecap: round;
}
.cellCount {
  fill: black;
  font-size: 15px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
